@model WebApplication6.Models.Bus

<form asp-action="Edit">
    <div class="form-group">
        <input type="hidden" asp-for="Id" />
        <label asp-for="DoorNumber" class="control-label"></label>
        <input asp-for="DoorNumber" class="form-control" />
        <span asp-validation-for="DoorNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PlateNumber" class="control-label"></label>
        <input asp-for="PlateNumber" class="form-control" />
        <span asp-validation-for="PlateNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Photo" class="control-label"></label>
        <input asp-for="Photo" class="form-control" />
        <span asp-validation-for="Photo" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>
